<% if @anchors_received.any? %>
<% @anchors_received.map do |a| %>
<ul class="dashboard-list">
  <% if a.user? %>
  <li>
    <i class="fa fa-user"></i>
    <%= link_to a.user.username, profile_path(a.user.username), class: 'label label-teal'  %> <i class="fa fa-anchor"></i> your <%= raw(source_label(a.anchorable_type)) %> <i class="fa fa-arrow-circle-right"></i>
    <%= link_to a.anchorable.location.name, location_path(a.anchorable.location), class: 'label label-primary' %> <i class="fa fa-clock-o"></i>
    <span class="label label-default"><%= time_ago_in_words(a.created_at) %> ago</span>
    </li>
    <hr class="visible-sm visible-xs">
</ul>
    <% end %>
  <% end %>



<% else %>

<p>You haven't received any anchors yet... Share and experience or image to start getting anchors.</p>

<% end %>
