<div class="row home-banner">
  <h1>Sailing Somewhere?</h1>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <i class="fa fa-ship fa-4x"></i>
        </div>
        <div class="col-xs-12 col-sm-9">
          <h2>Point 1</h2>
          <p>Get up to date information about the world's best cruising grounds for boaters.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <i class="fa fa-anchor fa-4x"></i>
        </div>
        <div class="col-xs-12 col-sm-9">
          <h2>Point 2</h2>
          <p>Get up to date information about the world's best cruising grounds for boaters.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <i class="fa fa-book fa-4x"></i>
        </div>
        <div class="col-xs-12 col-sm-9">
          <h2>Point 3</h2>
          <p>Get up to date information about the world's best cruising grounds for boaters.</p>
        </div>
      </div>

    </div>
  </div>

</div>
