<img src=https://storage.googleapis.com/anchorage/assets/anchorageio-banner1-web.jpg alt="sailing banner image" style="display:none; visibility:hidden;" />

<img src=https://storage.googleapis.com/anchorage/assets/anchorageio-banner1-mobile.jpg alt="sailing banner image" style="display:none; visibility:hidden;" />

<script type="text/javascript" data-no-turbolink>

var checkWidth = function(){
  if($(window).width() <= 992){

    $('<img/>').attr('src', 'https://storage.googleapis.com/anchorage/assets/anchorageio-banner1-mobile.jpg').load(function() {
       $(this).remove();
       $('.sailing-banner').css('background-image', 'url(https://storage.googleapis.com/anchorage/assets/anchorageio-banner1-mobile.jpg)');
    });

  } else {

    $('<img/>').attr('src', 'https://storage.googleapis.com/anchorage/assets/anchorageio-banner1-web.jpg').load(function() {
       $(this).remove();
       $('.sailing-banner').css('background-image', 'url(https://storage.googleapis.com/anchorage/assets/anchorageio-banner1-web.jpg)');
    });
  }
};

checkWidth();

$( window ).resize(function() {
  checkWidth();
});

// if($(window).width() >= 992) {

$('#mainnav').addClass("transparent-nav");
$('a').click(function(){
  $('#mainnav').removeClass("transparent-nav subtle-ease");
});

$('button').click(function(){
  $('#mainnav').removeClass("transparent-nav subtle-ease");
  $(window).unbind("scroll");
});

$(window).scroll(function() {

  var scrollPoint = $("#scrollPoint");
  if (scrollPoint.length) {

    var breakPoint = scrollPoint.offset().top - 50;
    var windscroll = $(window).scrollTop();
    var easeClass = "transparent-nav subtle-ease";
    $('#mainnav').addClass(easeClass);

    // Upper Page
    if (windscroll < breakPoint) {

      $('button').click(function(){
        $('#mainnav').removeClass("transparent-nav subtle-ease");
      });

        $(document).on("page:before-unload", function(){
          $(window).unbind("scroll");
        });


    //Lower Page
  } else if(windscroll >= breakPoint) {


      $('#mainnav').removeClass(easeClass);
      $('#mainnav').addClass('subtle-ease');

      }
    }
  }).scroll();

// }
</script>


<div class="row sailing-banner">
  <div class="col-xs-12">
  <h1>Sailing Somewhere?</h1>
  <h4>Build a Free Custom Cruising Guide for... </h4>
  <h4><span class="typed text-default"></span></h4>
  <div class="blank-space"></div>
  <%= link_to "Learn More", about_path, class: "btn btn-white-outline" %>
  </div>
</div>

<div id="scrollPoint"></div>

<div>
<h2 class="blue-flag shadow">Latest Activity</h2>

<%= render 'locations/masonry' %>

</div>

<div class="blank-space"></div>

<%= render "static_pages/banner" %>
