<div class="well">
  <h1>Sailing Somewhere?</h1>
  <h4>Build a free custom Cruising Guide for <span class="typed text-info"></span></h4>
</div>

<div class="well">
<h1>Featured Cruising Destinations</h1>

<%= render partial: "static_pages/featured" %>

</div>

<div class="blank-space"></div>

<%= render "static_pages/banner" %>
