<% content_for :title, "Privacy Policy" %>

<div class="well">

<h1>Privacy Policy</h1>

<h2>Introduction</h2>

<p><em>Last Updated: 03/28/2015</em></p>

<p>Anchorage.io ("Anchorage.io" "we" or "us") is committed to protecting your privacy. This Privacy Policy explains the methods and reasons we collect, use, disclose, transfer, and store your information. If you have any questions about the contents of this policy, don’t hesitate to contact us.</p>

<p>If you do not consent to the collection and use of information from or about you in accordance with this Privacy Policy, then you are not permitted to use Anchorage.io or any services provided on http://anchorage.io.</p>

<h2>Applicable Law</h2>

<p>Anchorage.io is headquartered in the United States of America in the state of Nevada.  By viewing any content or otherwise using the services offered by Anchorage.io, you consent to the transfer of information to the United States of America to the extent applicable, and the collection, storage, and processing of information under Nevada, USA law.</p>

<h2>Information We Collect</h2>

<p><strong>Information you Submit:</strong> We store information you provide on this site via forms, surveys, or any other interactive content. This information commonly includes, but is not limited to, name, mailing address, email address, and uploaded files.</p>

<p><strong>Log Files:</strong> We collect information when you use services provided on our site. This information may include your IP address, device and software characteristics (such as type and operating system), page views, referral URLs, device identifiers or other unique identifiers such as advertising identifiers (e.g., "ad-ID" or "IDFA"), and carrier information. Log files are primarily used for the purpose of enhancing the user experience.</p>

<p><strong>Cookies:</strong> We use cookies and related technologies to keep track of user preferences and activity. Cookies are small text files created by a web server, delivered through a web browser, and stored on your computer. Most Internet browsers automatically accept cookies. You can instruct your browser, by changing its settings, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit.</p>






<h2>Third Party Services</h2>

<p>This site contains links to other websites not owned by Anchorage.io.  In general, the third-party services used by us will only collect, use and disclose your information to the extent necessary to allow them to perform their intended services. Please be aware that we are not responsible for the privacy policies of third-party services. Below is a list of third-party services used on this site.</p>




<section>
  <h4>New Relic</h4>
  <img width="40px" src="http://storage.googleapis.com/termsforit/icons/newrelic.png" alt="Newrelic" />
  <p>New Relic is an application monitoring service. It can collect, store, and analyze anonymous software data in real time. It uses the episodes JavaScript library to perform precise browser measurements.  This technology is based on first-party cookies and may be linked additional third-party cookies. </p>
  <p><strong>Type: Analytics</strong></p>
</section>


<section>
  <h4>Sendgrid</h4>
  <img width="40px" src="http://storage.googleapis.com/termsforit/icons/sendgrid.png" alt="Sendgrid" />
  <p>Sendgrid is an transactional email service used to for managing contacts and sending messages when you perform certain actions. This service may use your email address, name, and other personal information to send transactional emails when you perform actions on this website.</p>
  <p><strong>Type: Email</strong></p>
</section>


<section>
  <h4>Facebook OAuth</h4>
  <img width="40px" src="http://storage.googleapis.com/termsforit/icons/facebook.png" alt="Facebook" />
  <p>OAuth is an open standard for authorization. It allows this website to obtain limited access to your Facebook profile information without sharing specific credentials. You can learn more about OAuth at this link: http://oauth.net/</p>
  <p><strong>Type: Authentication</strong></p>
</section>


<section>
  <h4>Google+ OAuth</h4>
  <img width="40px" src="http://storage.googleapis.com/termsforit/icons/googleplus.png" alt="Googleplus" />
  <p>OAuth is an open standard for authorization. It allows this website to obtain limited access to your Google Plus profile information without sharing specific credentials. You can learn more about OAuth at this link: http://oauth.net/</p>
  <p><strong>Type: Authentication</strong></p>
</section>


<h2>Children and COPPA</h2>

<p>Anchorage.io is committed to complying with the Children’s Online Privacy Protection Act (COPPA). We do not use our services to intentionally solicit data from or market to children under the age of 13. We encourage parents and guardians to report any suspicions that a child has provided us with information without their consent. We will take reasonable action to remove this information.</p>

<h2>Your Choices</h2>

<ol>
  <li><strong>Opt-Out of Third Party Advertisement Cookies:</strong> You may opt out of a third-party vendor's use of cookies for interest based advertising by visiting <a href="http://aboutads.info">aboutads.info</a>.</li>

  <li><strong>Do Not Track Browser settings:</strong> If you enable Do Not Track settings in the browser you are using, Anchorage.io will not use information about websites you visit, other than our site. Learn more about Do Not Track by visiting <a href="http://allaboutdnt.com"> allaboutdnt.com</a></li>

  <li><strong>Email Communication Opt-Out</strong> If you receive promotional emails from Anchorage.io, you can unsubscribe by clicking the bottom Unsubscribe or Opt-Out link at the bottom of every email.</li>



</ol>




<h2>Contact Us</h2>

<p>At Anchorage.io, we believe our talented customer service staff will be able to resolve any issues you may have using the our services. If you would like additional information about this privacy policy, please visit our hompage at http://anchorage.io or contact us at http://anchorage.io/about.</p>

<p><a href="http://termsfor.it" target="_blank">Privacy Policy generated by TermsFor.it</a></p>

</div>
