<% content_for :title, "Search Boating Anchorages and Destinations" %>

<h1>Search Results</h1>

<% if @locations.present? %>
<% @locations.each do |location| %>

<%= render partial: "locations/location", locals: {location: location} %>

<% end %>

<% else %>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h4>Arrrrgh, couldn't find anything related to <span class="text-info"><%= @keyword %></span>. Better luck next time...</h4>
    </div>
  </div>
</div>

<% end %>
