<div class="row">
  <div class="col-xs-12">
    <div class="well">

<div class="row">

  <% @users.each do |user| %>

      <div class="col-xs-6 col-md-3 user-list">
        <%= image_tag user.image_url(:thumb) %></br>
        <%= link_to "@#{user.username}", profile_path(user.username), class: 'label label-info' %>
      </div>

  <% end %>
</div>

    </div>
  </div>
</div>

<%= will_paginate @users,  renderer: BootstrapPagination::Rails %>
