<% content_for :title, "Your Anchor Report" %>


<div class="row">
  <div class="col-sm-12 col-md-6">
    <h3 class="blue-flag shadow">Things You Anchored</h3>
    <div class="well">
      <p class="text-info">Note: This information is private</p>
      <%= render partial: "anchors/given_feed" %>
      <hr>
      <%= link_to anchors_given_path, class: "btn btn-info btn-sm" do %>
      <i class="fa fa-anchor"></i> All Anchors Given
      <% end %>
    </div>
  </div>


  <div class="col-sm-12 col-md-6">
    <h3 class="pink-flag shadow">Anchors Received</h3>
    <div class="well">
      <p class="text-info">Note: This information is private</p>
      <%= render partial: "anchors/received_feed" %>
      <hr>
      <%= link_to anchors_received_path, class: "btn btn-pink btn-sm" do %>
      <i class="fa fa-heart"></i> All Anchors Received
      <% end %>

    </div>
  </div>


    <div class="blank-space"></div>


</div>
