<%= link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-google btn-sm btn-async', "data-loading-text"=>"connecting to google..." do %>
<i class="hi hi-google-plus"></i> Sign in with Google
<% end %>

<div class="visible-xs blank-space-sm"></div>

<%= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-facebook btn-sm btn-async', "data-loading-text"=>"connecting to facebook..." do %>
<i class="hi hi-facebook"></i> Sign in with Facebook
<% end %>
