<div class="row">
  <div id="map-canvas" class="narrow-map" data-map-markers="<%= map_data_region_path(@region) %>.json">
    <div class="loader">
      <i class="fa fa-spin fa-cog"></i> Building Map...
    </div>
  </div>
  <%= link_to map_region_path, class: 'label label-white label-map' do %>
    <i class="fa fa-expand"></i> Expand
  <% end %>
</div>
