<div class="well">
  <div id="map-attr" data-locations="<%= locations %>"></div>
  <div id="map-canvas" class="narrow-map"></div>
  <%= link_to region_map_path, class: 'label label-dark' do %>
    <i class="fa fa-expand"></i> Expand
  <% end %>
</div>
