<script type="text/javascript" data-turbolink-eval=always>

var ready = function() {
  if (typeof google === 'undefined') {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&'+'callback=getData';
      document.body.appendChild(script);
  } else { getData(); }
};

ready();

var getData = function() {
  var markers = $("#map-canvas").data('map-markers');
  $.getJSON(markers, function( data ) {
    var locations = data.locations;
    if (typeof locations !== 'undefined') {
      initialize(locations);
    }
  });
};

var map;
var data;
var initialize = function(locations) {

  var locations = locations;
  var infowindow = null;

  if (typeof locations !== 'undefined' && typeof google.maps.MapTypeId !== 'undefined') {
    //hello
    var mapOptions = {
      zoom: 8,
      center: { lat: locations[0].lat, lng: locations[0].lng },
      mapTypeId: google.maps.MapTypeId.SATELLITE,
      scrollwheel: false,
    }
    var map = new google.maps.Map(document.getElementById('map-canvas'),
                                  mapOptions);

    setMarkers(map, locations);
  };
}


var setMarkers = function(map, locations) {

  var image = {
  url:"https://storage.googleapis.com/anchorage/assets/marker-large.png",
  size: new google.maps.Size(20, 32),
  scaledSize: new google.maps.Size(20, 32)
  };


  for (var i = 0; i < locations.length; i++) {
    var anchorage = locations[i];
    var content = '<h3>'+anchorage.name+'</h3> <h5><i class="fa fa-binoculars"></i> <a href="'+anchorage.url+'">Explore '+anchorage.name+'</a></h5>';
    var myLatLng = new google.maps.LatLng(anchorage.lat, anchorage.lng);
    var infowindow = new google.maps.InfoWindow({
      content: content
      });
    var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        icon: image,
        title: anchorage.name,
        url: anchorage.url
      });

      google.maps.event.addListener(marker, 'click', (function(mm, tt) {
        return function() {
          infowindow.setContent(tt);
          infowindow.open(map, mm);
        }
      })(marker, content));
  }

}


</script>
