<%= div_for img do %>
<div class="col-sm-6 col-md-4">
  <div class="polaroid">
    <%= link_to image_tag(img.file_url(:thumb), style: "max-width:100%;height:auto;"), img, remote: true %>

    <div class="polaroid-caption">
      <div class="row">
        <div class="col-xs-12">
          <%= img.description %><br />


          <p class="text-primary"><em>credit: </em><%= link_to img.user.username, profile_path(img.user.username) %></p>

          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
