$searchBg-color: #19262b;
$placeHolder-color: #fff;
$placeHolder-opacity: 1;

// Navbar =====================================================================

body {

  padding-top: 90px;
  background-color: #EDF5FB;
  height: 100%;
  background-image: asset_url("anchoragebg.png");
  background-attachment: fixed;
}

html {
  height: 100%;
}

.logo {
  max-width:200px;
}

@media (max-width: $screen-md-min) {
  .logo {
    padding-top: 10px;
    max-width:150px;
  }

}

.font-lg { font-size: 150%; }

.navbar {
  border-width: 0;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 14px;
  -webkit-box-shadow: 1px 6px 6px -6px $searchBg-color;
  -moz-box-shadow: 1px 6px 6px -6px $searchBg-color;
  box-shadow: 1px 6px 6px -6px $searchBg-color;

  a:hover, a:active, a:focus {
    color: #fff !important;
  }

  &-default {

    .badge {
      background-color: #fff;
      color: $navbar-default-bg;
    }
  }

  &-inverse {

    .badge {
      background-color: #fff;
      color: $navbar-inverse-bg;
    }
  }

  &-brand {
    line-height: 1;
  }
}

.dropdown-menu {
  top: 110%;
  border-radius: 3px !important;
}

// Buttons ====================================================================

.btn:active {
  @include box-shadow(none);
}

.btn-group.open .dropdown-toggle {
  @include box-shadow(none);
}

.anchor-button {
  text-align: center;
  padding-top: 6px;
  a {
    display: block;
    &:active {
      text-decoration: none;
      outline: none;
    }
  }
}

.anchor-button-img {
  a {
    display: block;
    &:active {
      text-decoration: none;
      outline: none;
    }
  }
}

.anchor {
  font-size: 110%;
  text-align: center;
  background: none;
  min-width: 50px;
  min-height: 50px;
  border: 0;
  cursor: pointer;
  outline: none;

  i:hover{
    color: $brand-success;
  }

  i:focus{
    color: $brand-success;
    outline: 0;
  }
}

.unanchor {
  font-size: 110%;
  text-align: center;
  min-width: 50px;
  min-height: 50px;
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;

  i:hover{
    color: $brand-danger;
  }

  i:focus{
    color: $brand-danger;
    outline: 0;
  }
}

.image {
  background-size: 25px !important;
}

.footer {

  min-height: 110px;
  height: auto;
  text-align: center;
  padding-top: 30px;
  margin-top: 30px;
  color: #EDF5FB;
  width: 100%;
  //margin-right: -50px;

  a, a:hover {
    color: #EDF5FB;
  }

}

label {
  margin-top: 7px;
  margin-bottom: 3px;
}

.label-pink {
  background-color: #f94877;
}

.btn-pink {
  background-color: #f94877;
  border-color: #f94877;
  &:hover {
    background-color: #FB87A1;
    border-color: #FB87A1;
  }
  &:active {
    background-color: #FB87A1;
    border-color: #FB87A1;
  }
}

.dashboard-list {
  list-style: none;
  padding: 0;
}

// Typography =================================================================

.text-primary,
.text-primary:hover {
  color: $brand-primary;
}

.text-success,
.text-success:hover {
  color: $brand-success;
}

.text-danger,
.text-danger:hover {
  color: $brand-danger;
}

.text-warning,
.text-warning:hover {
  color: $brand-warning;
}

.text-info,
.text-info:hover {
  color: $brand-info;
}

// Tables =====================================================================

table,
.table {

  a:not(.btn) {
    text-decoration: underline;
  }

  .dropdown-menu a {
    text-decoration: none;
  }

  .success,
  .warning,
  .danger,
  .info {
    color: #fff;

    > th > a,
    > td > a,
    > a {
      color: #fff;
    }
  }

  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    border: none;
  }

  &-bordered > thead > tr > th,
  &-bordered > tbody > tr > th,
  &-bordered > tfoot > tr > th,
  &-bordered > thead > tr > td,
  &-bordered > tbody > tr > td,
  &-bordered > tfoot > tr > td {
    border: 1px solid $table-border-color;
  }
}

// Forms ======================================================================

.form-control,
input, {
  border-width: 2px;
  @include box-shadow(none);

  &:focus {
    @include box-shadow(none);
  }
}

.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  .form-control-feedback {
    color: $brand-warning;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-warning;
  }

  .input-group-addon {
    border-color: $brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  .form-control-feedback {
    color: $brand-danger;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-danger;
  }

  .input-group-addon {
    border-color: $brand-danger;
  }
}

.has-success {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  .form-control-feedback {
    color: $brand-success;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-success;
  }

  .input-group-addon {
    border-color: $brand-success;
  }
}

// Navs =======================================================================

.nav {

  font-size: 110%;
  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: transparent;
  }
}

.pager {
  a,
  a:hover {
    color: #fff;
  }

  .disabled {
    &>a,
    &>a:hover,
    &>a:focus,
    &>span {
      background-color: $pagination-disabled-bg;
    }
  }
}

.footer {

  min-height: 75px;
  height: auto;
  text-align: center;
  padding-top: 25px;
  margin-top: 25px;
  font-size: 80%;
}

// Indicators =================================================================

.close {
  color: #fff;
  text-decoration: none;
  opacity: 0.4;

  &:hover,
  &:focus {
    color: #fff;
    opacity: 1;
  }
}

.alert {

  .alert-link {
    color: #fff;
    text-decoration: underline;
  }
}

// Progress bars ==============================================================

.progress {
  height: 10px;
  @include box-shadow(none);
  .progress-bar {
    font-size: 10px;
    line-height: 10px;
  }
}

// Containers =================================================================

.well {
  @include box-shadow(none);
  background-color: #fff;
  -moz-box-shadow: 0 3px 3px #999;
  -webkit-box-shadow: 0 3px 3px #999;
  box-shadow: 0 3px 3px #777;
}

a.list-group-item {

  &.active,
  &.active:hover,
  &.active:focus {
    border-color: $list-group-border;
  }

  &-success {
    &.active {
      background-color: $state-success-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken($state-success-bg, 5%);
    }
  }

  &-warning {
    &.active {
      background-color: $state-warning-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken($state-warning-bg, 5%);
    }
  }

  &-danger {
    &.active {
      background-color: $state-danger-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken($state-danger-bg, 5%);
    }
  }
}

.panel {
  &-default {
    .close {
      color: $text-color;
    }
  }
}

.modal {
  .close {
    color: $text-color;
  }
}

// Form Icons =================================================================


/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon i {
  position: absolute;
  padding: 14px;
  pointer-events: none;
  color: $gray;
}



/* align glyph */
.left-addon i { left:  0px;}
.right-addon i { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  40px; }
.right-addon input { padding-right: 30px; }

// AngularJS Classes

select.ng-valid {
  border-color: #18bc9c;
}

select.ng-pristine {
  border-color: #ecf0f1;
}

select:focus.ng-valid {
  border-color: #18bc9c;
}

input.ng-pristine.ng-invalid{
  border-color: #ecf0f1;
}

input.ng-pristine.ng-valid{
  border-color: #ecf0f1;
}

input.ng-valid {
  border-color: #18bc9c;
}

input:focus.ng-valid {
  border-color: #18bc9c;
}

input.ng-invalid{
  border-color: #e74c3c;
}

input:focus.ng-invalid{
  border-color: #e74c3c;
}

.ng-invalid{
  border-color: #e74c3c;
}


// Utility Classes  =================================================================

.twitter{
  position: relative;
  top: 3px;
  color: #55ACEE;
  font-size: 150%;
  a{
    color: #55ACEE;
  }

  a:hover {
    color: #55ACEE;
  }
}


#flash-messages {
  position: fixed;
  z-index: 5;
  //margin: 0 5%;
  width: auto;
}

.thumbnail {
  text-align: left;
  border: none;
  padding: 3px;
  margin: 0 0 3px 0;
  //min-width: 210px;

  .thumb-image {
    width: 210px;
    height: 210px;

  }

  .caption {
    max-width: 100%;
    min-height: 200px;
    text-align: left;
    border: 1px solid #ECF0F1;
    border-radius: 5px;
    font-size: 85%;
    overflow: none;
  }
}

.add-anchor {
  margin-top: 5px;
  text-align: center;
  font-size: 90%;
}

.blank-space {
  display: block;
  height: 20px;
}

.spinner {
  margin-top: 10px;
  display: none;
}

#pageSpinner{
  display: none;
}

#policy-spinner {
  display: none;
}

.change-password {
  display: none;
}

.facebook-button {
  background-color: #3b5998;
  border-color: #3b5998 !important;
  color: #fff;

  &:hover{
    background-color: #23355C;
    border-color: #23355C !important;
    color: #fff;
  }
  &:focus{
    outline: none;
    background-color: #3b5998;
    color: #fff;
  }
}


.google-button {
  background-color: #dd4b39;
  border-color: #dd4b39 !important;
  color: #fff;

  &:hover{
    background-color: #F67666;
    border-color: #F67666 !important;
    color: #fff;
  }

  &:focus{
    outline: none;
    background-color: #dd4b39;
    color: #fff;
  }
}

.search-button {
  background-color: #F1C40F;
  border-color: #F1C40F !important;
  color: #fff;
  font-size: rem-calc(16);

  &:hover{
    background-color: #F39C12;
    border-color: #F39C12 !important;
    color: #fff;
  }
  &:focus{
    outline: none;
    background-color: #F39C12;
    color: #fff;
  }
}

.navbar-brand {
  padding: 5px 10px;
  height: auto;
}

.service-wrapper {
  height: 40px;

  input[type=checkbox] {
    font-size: 150%;
  }
}

.experience-button {
  padding-top: 25px;
  text-align: center;
}

.img-user a {
  font-size: 85%;
  font-style: bold;
  color: $base-color;
}

.exp-user {
  a {
    font-size: 115%;
    color: $base-color;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

.shadow {
  -moz-box-shadow: 0 3px 3px #777;
  -webkit-box-shadow: 0 3px 3px #777;
   box-shadow: 0 3px 3px #777;
}

// Badges

.gold-badge{
  font-weight: bold;
  color: #D4AF37;
  &:hover {
    color: #D4AF37;
  }
}

.silver-badge{
  font-weight: bold;
  color: #C0C0C0;
  &:hover {
    color: #C0C0C0;
  }
}

.bronze-badge{
  font-weight: bold;
  color: #CD7F32;
  &:hover {
    color: #CD7F32;
  }
}

.squeeze {
  margin-right: 2%;
  margin-left: 2%;
  min-height: 83%;
}

.default-link {
  color: $base-color;
}

// Mega Menu

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
  right: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}

.mega-list {
  list-style: none;

  @media (max-width: $screen-md-min) {
    a{color: #fff !important;}
  }


  li {
    line-height: 25px;

    a {
      color: $gray-dark;
      width: 100%;
      border-radius: 5px;
      text-decoration: none;
      padding: 5px;
    }

    a:hover {
      background-color: $brand-primary;

      color: #fff !important;
    }
  }
}

.mega {
  min-width: 70%;
}

// Loading

#pageLoading {
  display: none;
  text-align: center;
  background-color: #19262b;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.5;
  color: #fff;
}

#mainContent {
}

.page-button {
  display: inline-block;
}

// Search



.search-box {
  padding: 0 10%;
  position: relative;
  width: 100%;
  height: 70px;
  line-height: 60px;
  background-color: $searchBg-color;
  display: none;
  -webkit-box-shadow: 1px 6px 6px -6px $searchBg-color;
  -moz-box-shadow: 1px 6px 6px -6px $searchBg-color;
  box-shadow: 1px 6px 6px -6px $searchBg-color;

  input {
    background-color: $searchBg-color;
    color: #fff;
    font-size: 2em;
    outline: none;
    border: none;
    width: 100%;
    float: left;

    &::-webkit-input-placeholder { /* WebKit browsers */
      color: $placeHolder-color;
      opacity: $placeHolder-opacity;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $placeHolder-color;
      opacity:  $placeHolder-opacity;;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $placeHolder-color;
      opacity:  $placeHolder-opacity;;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $placeHolder-color;
      opacity: $placeHolder-opacity;
    }
  }

  .close{
    background-color: $searchBg-color;
    padding-top: 15px;
    color: #fff;
    font-size: 2.0em;

    a{
      text-decoration: none;
      color: #fff;

      &:hover{
        text-decoration: none;
        border: none;
      }
    }
  }

}

.submit-search {
  background-color: $searchBg-color;
  padding-top: 15px;
  color: #fff;
  font-size: 2.0em;

  a{
    text-decoration: none;
    color: #fff;

    &:hover{
      text-decoration: none;
      border: none;
    }
  }
}

.banner-icon {
  padding: 25px 25px 25px 50px;
}


.autocomplete-suggestions {

  border: none;
  background: #FFF; overflow: auto;
  font-size: 1.5em;
  color: #fff;
  width: 100%;
  background-color: $searchBg-color;
  -webkit-box-shadow: 1px 6px 6px -6px $searchBg-color;
  -moz-box-shadow: 1px 6px 6px -6px $searchBg-color;
  box-shadow: 1px 6px 6px -6px $searchBg-color;

}
.autocomplete-suggestion { padding: 1px 3px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: $searchBg-color; }
.autocomplete-suggestions strong { font-weight: normal; color: $brand-primary; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: none; }

// Images

.polaroid {
  background: #ECF0F1;
  //border-radius: 5px;
  //display: inline;
  min-width: 100%;
  max-width: 350px;
  //float: left;
  margin: 0 0 30px;
  padding: 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  z-index:0;
  position:relative;
}

.polaroid-caption {
  padding-top: 10px;
  min-height: 50px;
  overflow: visible;
}

// Cruising Guides

.contents {
  padding: 0 20px;
}

.guide-contents {
  position: fixed;
  width: 30%;
  max-height: 70%;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media (max-width: $screen-md-min) {
  .guide-contents {
    width: 100%;
  }
}

.affix-top,.affix{
  position: static;
}

@media (min-width: $screen-md-min) {
  #guideContents.affix-top {
    position: static;
    //margin-top:30px;
    width:100%;
  }

  #guideContents.affix {
    position: fixed;
    top: 85px;
    width:30%;
  }
}

.contents-list {
  background-color: #ECF0F1;
  border-radius: 5px;
  list-style: none;
  padding: 10px;
  margin: 5px;
}

#map-canvas {
  height: 250px;
}

.typed {
  font-family: "Courier";
  font-size: 125%;
  font-weight: bold;
}

//Banner

/*
.home-banner {
  position: relative;
  top: -50px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #F5A623;
  //border-radius: 5px;
  min-height: 300px;
  color: #EDF5FB;
  -moz-box-shadow: 0 3px 3px #999;
  -webkit-box-shadow: 0 3px 3px #999;
  box-shadow: 0 3px 3px #777;

  h1, h2, h3 {
    color: #EDF5FB;
  }
}

*/
