$searchBg-color: #19262b;
$placeHolder-color: #fff;
$placeHolder-opacity: 1;

@mixin base-shadow($color) {
  -webkit-box-shadow: 1px 6px 6px -6px $color;
  -moz-box-shadow: 1px 6px 6px -6px $color;
  box-shadow: 1px 6px 6px -6px $color;
}

@mixin word-wrap() {
  word-break:     break-word;
  -webkit-hyphens: auto;
  -moz-hyphens:    auto;
  hyphens:         auto;
}

// Navbar =====================================================================

body {
  padding-top: 90px;
  background-color: $lighter-blue;//#EDF5FB;
  height: 100%;
  //background-image: asset_url("anchoragebg.png");
  // background-attachment: fixed;
}

html {
  height: 100%;
}

.logo {
  max-width:200px;
}

@media (max-width: $screen-md-min) {
  .logo {
    padding-top: 10px;
    max-width:150px;
  }

}

.font-lg { font-size: 150%; }

.navbar {
  border-width: 0;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 300;
  @include base-shadow($darker-blue);

  a:hover, a:active, a:focus {
    color: #fff !important;
  }

  &-default {

    .badge {
      background-color: #fff;
      color: $navbar-default-bg;
    }
  }

  &-inverse {

    .badge {
      background-color: #fff;
      color: $navbar-inverse-bg;
    }
  }

  &-brand {
    line-height: 1;
  }
}

.dropdown-menu {
  top: 110%;
  border-radius: 0px !important;
  li > a { font-weight: 300; }
}

.transparent-nav {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent !important;
}

.subtle-ease {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}


// Buttons ====================================================================

.btn:active {
  @include box-shadow(none);
}

.btn-group.open .dropdown-toggle {
  @include box-shadow(none);
}

.anchor-button {
  text-align: center;
  padding-top: 6px;
  a {
    display: block;
    &:active {
      text-decoration: none;
      outline: none;
    }
  }
}

.owner-anchor {
  color: $dark-blue;
  i:hover {
    color: $dark-blue !important;
  }
}

.anchor-button-img {
  a {
    display: block;
    &:active {
      text-decoration: none;
      outline: none;
    }
  }
}

.anchor {
  font-size: 110%;
  text-align: center;
  background: none;
  min-width: 50px;
  min-height: 50px;
  border: 0;
  cursor: pointer;
  outline: none;

  i:hover{
    color: $brand-success;
  }

  i:focus{
    color: $brand-success;
    outline: 0;
  }
}

.unanchor {
  font-size: 110%;
  text-align: center;
  min-width: 50px;
  min-height: 50px;
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;

  i:hover{
    color: $brand-danger;
  }

  i:focus{
    color: $brand-danger;
    outline: 0;
  }
}


@mixin anchor-count($color) {
  background-color: #fff;
  border-color: $color;
  color: $color;
  text-size: 100%;
  font-weight: bold;
  &:hover, &:active {
    cursor: default;
    color: $color;
    background-color: #fff;
  }
}

.anchor-count-green { @include anchor-count($green) };
.anchor-count-blue { @include anchor-count($brand-primary) }
.anchor-count-pink { @include anchor-count($pink) }

.anchor-count-gray {
  background-color: #fff;
  color: $dark-blue;
  text-size: 112%;
  font-weight: bold;
}

.pagination-move {
  float: right;
}

.pagination {
  margin: 10px 0 0 0;
}

.image {
  background-size: 25px !important;
}

.image-thumb-feed {
  width: 60px;
  height: 60px;
  margin-top: 3px;
}

.modal-image {
  max-width: 100%;
  max-height: 500px;
}

.footer {
  background-color: $darker-blue;
  min-height: 110px;
  height: auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  color: #EDF5FB;
  width: 100%;
  //margin-right: -50px;

  a, a:hover {
    color: #EDF5FB;
  }

}

label {
  margin-top: 7px;
  margin-bottom: 3px;
}

.label {
  border-radius: 0px;
  font-weight: 300;
}

@mixin badge-label($color) {
  background-color: $color;
  margin-right: 3px;
  &:hover {
    background-color: darken($color, 10%);
  }
  &:last-child {
    margin-right: 0px;
  }
}

.label-bronze { @include badge-label($bronze) }
.label-silver { @include badge-label($silver) }
.label-gold { @include badge-label($gold) }

.label-pink {
  background-color: #f94877;
}

.label-teal {
  background-color: $teal;
  color: $darker-blue;
}

.label-dark {
  background-color: $darker-blue;
}

.label-light-blue {
  background-color: $lighter-blue;
  color: $darker-blue;
}

.label-white {
  background-color: #fff;
  color: $darker-blue;
}


.btn-pink {
  background-color: #f94877;
  border-color: #f94877;
  color: #fff;
  &:hover {
    background-color: #FB87A1;
    border-color: #FB87A1;
    color: #fff;
  }
  &:active {
    background-color: #FB87A1;
    border-color: #FB87A1;
    color: #fff;
  }
}

.dashboard-list {
  list-style: none;
  padding: 0;
}

// Typography =================================================================

.text-primary,
.text-primary:hover {
  color: $brand-primary;
}

.text-success,
.text-success:hover {
  color: $brand-success;
}

.text-danger,
.text-danger:hover {
  color: $brand-danger;
}

.text-warning,
.text-warning:hover {
  color: $brand-warning;
}

.text-info,
.text-info:hover {
  color: $brand-info;
}

// Tables =====================================================================

table,
.table {

  a:not(.btn) {
    text-decoration: underline;
  }

  .dropdown-menu a {
    text-decoration: none;
  }

  .success,
  .warning,
  .danger,
  .info {
    color: #fff;

    > th > a,
    > td > a,
    > a {
      color: #fff;
    }
  }

  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    border: none;
  }

  &-bordered > thead > tr > th,
  &-bordered > tbody > tr > th,
  &-bordered > tfoot > tr > th,
  &-bordered > thead > tr > td,
  &-bordered > tbody > tr > td,
  &-bordered > tfoot > tr > td {
    border: 1px solid $table-border-color;
  }
}

// Forms ======================================================================

.form-control,
input, {
  border-width: 2px;
  @include box-shadow(none);

  &:focus {
    @include box-shadow(none);
  }
}

.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  .form-control-feedback {
    color: $brand-warning;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-warning;
  }

  .input-group-addon {
    border-color: $brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  .form-control-feedback {
    color: $brand-danger;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-danger;
  }

  .input-group-addon {
    border-color: $brand-danger;
  }
}

.has-success {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  .form-control-feedback {
    color: $brand-success;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-success;
  }

  .input-group-addon {
    border-color: $brand-success;
  }
}

// Navs =======================================================================

.nav {

  font-size: 110%;
  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: transparent;
  }
}

.pager {
  a,
  a:hover {
    color: #fff;
  }

  .disabled {
    &>a,
    &>a:hover,
    &>a:focus,
    &>span {
      background-color: $pagination-disabled-bg;
    }
  }
}

.footer {

  min-height: 75px;
  height: auto;
  text-align: center;
  padding-top: 25px;
  margin-top: 25px;
  font-size: 80%;
}

// Indicators =================================================================

.close {
  color: #fff;
  text-decoration: none;
  opacity: 0.4;

  &:hover,
  &:focus {
    color: #fff;
    opacity: 1;
  }
}

.alert {

  .alert-link {
    color: #fff;
    text-decoration: underline;
  }
}

// Progress bars ==============================================================

.progress {
  height: 10px;
  @include box-shadow(none);
  .progress-bar {
    font-size: 10px;
    line-height: 10px;
  }
}

// Containers =================================================================

.well {
  background-color: #fff;
  @include base-shadow($darker-blue);
}

a.list-group-item {

  &.active,
  &.active:hover,
  &.active:focus {
    border-color: $list-group-border;
  }

  &-success {
    &.active {
      background-color: $state-success-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken($state-success-bg, 5%);
    }
  }

  &-warning {
    &.active {
      background-color: $state-warning-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken($state-warning-bg, 5%);
    }
  }

  &-danger {
    &.active {
      background-color: $state-danger-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken($state-danger-bg, 5%);
    }
  }
}

.panel {
  &-default {
    .close {
      color: $text-color;
    }
  }
}

.modal {
  .close {
    color: $text-color;
  }
}

// Form Icons =================================================================


/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon i {
  position: absolute;
  padding: 14px;
  pointer-events: none;
  color: $gray;
}

/* align glyph */
.left-addon i { left:  0px;}
.right-addon i { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  40px; }
.right-addon input { padding-right: 30px; }


// Utility Classes  =================================================================

.twitter{
  position: relative;
  top: 3px;
  color: #55ACEE;
  font-size: 150%;
  a{
    color: #55ACEE;
  }

  a:hover {
    color: #55ACEE;
  }
}


#flash-messages {
  position: fixed;
  z-index: 5;
  //margin: 0 5%;
  width: auto;
}

.thumbnail {
  text-align: left;
  border: none;
  padding: 3px;
  margin: 0 0 3px 0;
  //min-width: 210px;

  .thumb-image {
    width: 210px;
    height: 210px;

  }

  .caption {
    max-width: 100%;
    min-height: 200px;
    text-align: left;
    border: 1px solid #ECF0F1;
    border-radius: 0px;
    font-size: 85%;
    overflow: none;
  }
}

.add-anchor {
  margin-top: 5px;
  text-align: center;
  font-size: 90%;
}

.blank-space {
  display: block;
  height: 20px;
}

.blank-space-sm {
  display: block;
  height: 10px;
}

.spinner {
  margin-top: 10px;
  display: none;
}

#pageSpinner{
  display: none;
}

#policy-spinner {
  display: none;
}

.change-password {
  display: none;
}

.facebook-button {
  background-color: #3b5998;
  border-color: #3b5998 !important;
  color: #fff;

  &:hover{
    background-color: #23355C;
    border-color: #23355C !important;
    color: #fff;
  }
  &:focus{
    outline: none;
    background-color: #3b5998;
    color: #fff;
  }
}


.google-button {
  background-color: #dd4b39;
  border-color: #dd4b39 !important;
  color: #fff;

  &:hover{
    background-color: #F67666;
    border-color: #F67666 !important;
    color: #fff;
  }

  &:focus{
    outline: none;
    background-color: #dd4b39;
    color: #fff;
  }
}

.search-button {
  background-color: #F1C40F;
  border-color: #F1C40F !important;
  color: #fff;
  font-size: rem-calc(16);

  &:hover{
    background-color: #F39C12;
    border-color: #F39C12 !important;
    color: #fff;
  }
  &:focus{
    outline: none;
    background-color: #F39C12;
    color: #fff;
  }
}

.navbar-brand {
  padding: 5px 10px;
  height: auto;
}

.service-wrapper {
  height: 40px;

  input[type=checkbox] {
    font-size: 150%;
  }
}

.experience-button {
  padding-top: 15px;
  text-align: center;
}

.experience-container {
  @include word-wrap();
}

.user-list {
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
}

.img-user a {
  font-size: 85%;
  font-style: bold;
  color: $base-color;
}

.exp-user {
  a {
    font-size: 115%;
    color: $base-color;
  }
}

.donate {
  color: $base-color;
  &:hover, &:active {
    text-decoration: none;
  }
}

.btn-dark-text{
  color: #417505;
  font-weight: bold;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

.shadow {
  -moz-box-shadow: 0 3px 3px #777;
  -webkit-box-shadow: 0 3px 3px #777;
   box-shadow: 0 3px 3px #777;
}

// Badges

.gold-badge{
  font-weight: bold;
  color: $gold;
  &:hover {
    color: $gold;
  }
}

.silver-badge{
  font-weight: bold;
  color: $silver;
  &:hover {
    color: $silver;
  }
}

.bronze-badge{
  font-weight: bold;
  color: $bronze;
  &:hover {
    color: $bronze;
  }
}

.squeeze {
  min-height: 83%;
}

.default-link {
  color: $base-color;
}

// Mega Menu

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
  right: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}

.mega-list {
  list-style: none;

  @media (max-width: $screen-md-min) {
    a{color: #fff !important;}
  }


  li {
    line-height: 25px;

    a {
      color: $gray-dark;
      width: 100%;
      border-radius: 0px;
      text-decoration: none;
      padding: 5px;
    }

    a:hover {
      background-color: $brand-primary;

      color: #fff !important;
    }
  }
}

.mega {
  min-width: 70%;
}

// Loading

#pageLoading {
  display: none;
  text-align: center;
  background-color: $darker-blue;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.5;
  color: #fff;
}

.load-bar {
}

#mainContent {
}

.page-button {
  display: inline-block;
}

// Search



.search-box {
  padding: 0 10%;
  position: relative;
  width: 100%;
  height: 70px;
  line-height: 60px;
  background-color: $searchBg-color;
  display: none;
  -webkit-box-shadow: 1px 6px 6px -6px $searchBg-color;
  -moz-box-shadow: 1px 6px 6px -6px $searchBg-color;
  box-shadow: 1px 6px 6px -6px $searchBg-color;

  input {
    background-color: $searchBg-color;
    color: #fff;
    font-size: 2em;
    outline: none;
    border: none;
    width: 100%;
    float: left;

    &::-webkit-input-placeholder { /* WebKit browsers */
      color: $placeHolder-color;
      opacity: $placeHolder-opacity;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $placeHolder-color;
      opacity:  $placeHolder-opacity;;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $placeHolder-color;
      opacity:  $placeHolder-opacity;;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $placeHolder-color;
      opacity: $placeHolder-opacity;
    }
  }

  .close{
    background-color: $searchBg-color;
    padding-top: 15px;
    color: #fff;
    font-size: 2.0em;

    a{
      text-decoration: none;
      color: #fff;

      &:hover{
        text-decoration: none;
        border: none;
      }
    }
  }

}

.submit-search {
  background-color: $searchBg-color;
  padding-top: 15px;
  color: #fff;
  font-size: 2.0em;

  a{
    text-decoration: none;
    color: #fff;

    &:hover{
      text-decoration: none;
      border: none;
    }
  }
}

.banner-icon {
  padding: 25px 25px 25px 50px;
}

.sailing-banner {
  background-color: $brand-primary;
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
  h1, h4 {
    color: #fff;
  }
}

.btn-white-outline {
  color: #fff;
  border: 3px solid #fff;
  background-color: none;
  border-radius: 0px;
  font-weight: bold;
  padding: 15px 25px 15px 25px;
  &:hover {
    background-color: #fff;
    color: $darker-blue;
  }
}

@media (max-width: $screen-md-min) {
  .sailing-banner {
    height: 325px;
    margin-top: -90px;
    padding-top: 70px;
    h1 {
      font-size: floor(($font-size-base * 2.3));
    }
  }
}

@media (min-width: $screen-md-min) {
  .sailing-banner {
    margin-top: -90px;
    padding-top: 90px;
    height: 450px;
    h1 {
      font-size: floor(($font-size-base * 4.5));
    }
  }
}


.autocomplete-suggestions {

  border: none;
  background: #FFF; overflow: auto;
  font-size: 1.5em;
  color: #fff;
  width: 100%;
  background-color: $searchBg-color;
  -webkit-box-shadow: 1px 6px 6px -6px $searchBg-color;
  -moz-box-shadow: 1px 6px 6px -6px $searchBg-color;
  box-shadow: 1px 6px 6px -6px $searchBg-color;

}
.autocomplete-suggestion { padding: 1px 3px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: $searchBg-color; }
.autocomplete-suggestions strong { font-weight: normal; color: $brand-primary; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: none; }

// Images

.polaroid {
  background: #ECF0F1;
  min-width: 100%;
  max-width: 350px;
  min-height: 100%;
  margin: 0 0 20px;
  padding: 6px 6px 6px;
  text-align: center;
  text-decoration: none;
  @include base-shadow($darker-blue);
  z-index:0;
  position:relative;
}

.polaroid-caption {
  padding-top: 10px;
  min-height: 50px;
  overflow: visible;
}

.image-holder {
  min-height: 175px;
  background-color: $lighter-blue;
}

.photo-btn-right {
  float: right;  margin: 10px 0 0 3px;
}

.left-offset-15 {
  margin-left: -15px;
}

@media (max-width: $screen-md-min) {
  .pagination-move{
    float: none;
  }

  .photo-btn-right {
    float: left;  margin: 10px 3px 0 0;
  }
}

.photo-btn-left{
  float: left; margin: 0 3px 0 12px;
}

.photo-col { padding-right: 0px; }

.trim {
  padding: 0;
  margin: 0;
}

// Cruising Guides

.contents {
  padding: 0 20px;
}

.guide-contents {
  position: fixed;
  width: 30%;
  max-height: 70%;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media (max-width: $screen-md-min) {
  .guide-contents {
    width: 100%;
  }
}

.affix-top,.affix{
  position: static;
}

@media (min-width: $screen-md-min) {
  #guideContents.affix-top {
    position: static;
    //margin-top:30px;
    width:100%;
  }

  #guideContents.affix {
    position: fixed;
    top: 85px;
    width:30%;
  }
}

.contents-list {
  background-color: #ECF0F1;
  border-radius: 0px;
  list-style: none;
  padding: 10px;
  margin: 5px;
}

#map-canvas {
  //height: 250px;
}

.narrow-map {
  min-height: 250px;
}

.full-map {
  min-height: 500px;
  height: 100%;
}

.description-map {
  background-color: $lighter-blue;
}


.typed {
  font-family: "Courier";
  font-size: 125%;
  font-weight: bold;
}

// Buttons

.btn-social {
  position: relative;
  padding-left: ($bs-height-base + $padding-base-horizontal);
  text-align: left;
  white-space: nowrap;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $bs-height-base;
    line-height: ($bs-height-base + 2);
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  &.btn-lg {
    padding-left: ($bs-height-lg + $padding-large-horizontal);
    > :first-child {
      line-height: $bs-height-lg;
      width: $bs-height-lg;
      font-size: 1.8em;
    }
  }
  &.btn-sm {
    padding-left: ($bs-height-sm + $padding-small-horizontal);
    > :first-child {
      line-height: $bs-height-sm;
      width: $bs-height-sm;
      font-size: 1.4em;
    }
  }
  &.btn-xs {
    padding-left: ($bs-height-xs + $padding-small-horizontal);
    > :first-child {
      line-height: $bs-height-xs;
      width: $bs-height-xs;
      font-size: 1.2em;
    }
  }
}

.btn-social-icon {
  @extend .btn-social;
  height: ($bs-height-base + 2);
  width: ($bs-height-base + 2);
  padding: 0;
  > :first-child {
    border: none;
    text-align: center;
    width: 100%!important;
  }
  &.btn-lg {
    height: $bs-height-lg;
    width: $bs-height-lg;
    padding-left: 0;
    padding-right: 0;
  }
  &.btn-sm {
    height: ($bs-height-sm + 2);
    width: ($bs-height-sm + 2);
    padding-left: 0;
    padding-right: 0;
  }
  &.btn-xs {
    height: ($bs-height-xs + 2);
    width: ($bs-height-xs + 2);
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin btn-social($color-bg, $color: #fff) {
  background-color: $color-bg;
  @include button-variant($color, $color-bg, rgba(0,0,0,.2));
  border: none;
}


.btn-dropbox       { @include btn-social(#1087dd); }
.btn-facebook      { @include btn-social(#3b5998); }
.btn-foursquare    { @include btn-social(#f94877); }
.btn-github        { @include btn-social(#444444); }
.btn-google        { @include btn-social(#dd4b39); }
.btn-instagram     { @include btn-social(#3f729b); }
.btn-linkedin      { @include btn-social(#007bb6); }
.btn-microsoft     { @include btn-social(#2672ec); }
.btn-openid        { @include btn-social(#f7931e); }
.btn-pinterest     { @include btn-social(#cb2027); }
.btn-reddit        { @include btn-social(#eff7ff, #000); }
.btn-tumblr        { @include btn-social(#2c4762); }
.btn-twitter       { @include btn-social(#55acee); }


@mixin flag($color, $color-bg, $color-border) {
  background-color: $color-bg;
  color: $color;
  text-align: left;
  font-family: $font-family-sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 7px;
  border-left: 5px solid $color-border;
}

.yellow-flag { @include flag($yellow, #fdf0d5, #fce4b3); }
.blue-flag { @include flag($blue, #daf1ff, #bce6ff); }
.dark-blue-flag { @include flag($dark-blue, #daf1ff, #bce6ff); }
.green-flag { @include flag($green, #eef6dc, #e0efc0); }
.pink-flag { @include flag($pink, #fdebf3, #eddbe3); }
.red-flag { @include flag($red, #FBA897, #FA7D63); }
.gray-flag { @include flag($brand-primary, #ebeef1, #dbe0e6); }
.title-flag { @include flag($dark-blue, #fff, $blue); text-transform: none; }
.orange-flag { @include flag($orange, #ffe8d8, #ffd5b8); }

.shadow {
  @include base-shadow($darker-blue);
}

.defaultcase {
  text-transform: none;
}

.center-text {
  text-align: center;
}

.plain-link {
  color: $text-color;
  &:hover { color: $text-color; }
}

.text-pink {
  color: $pink;
}


.col-wind {
  text-align: center;
  //border-right: 1px solid $dark-blue;

  &:last-child {
    border-right: none;
  }
}

.wind-outlook {
  min-height: 200px;
}


.locations-menu {
  padding: 12px 20px !important;
  background-color: $darker-blue;
  color: $lighter-blue !important;
  margin: 12px 25px 0 12px;
  border-radius: 0px;
  &:active, &:hover, &:focus, &:visited {
    background-color: $darker-blue !important;
  }
}

.modal-logo {
  float: left;
  width: 150px;
}
