.wi-beafort-0:before {
  content: "\f0b7";
}
.wi-beafort-1:before {
  content: "\f0b8";
}
.wi-beafort-2:before {
  content: "\f0b9";
}
.wi-beafort-3:before {
  content: "\f0ba";
}
.wi-beafort-4:before {
  content: "\f0bb";
}
.wi-beafort-5:before {
  content: "\f0bc";
}
.wi-beafort-6:before {
  content: "\f0bd";
}
.wi-beafort-7:before {
  content: "\f0be";
}
.wi-beafort-8:before {
  content: "\f0bf";
}
.wi-beafort-9:before {
  content: "\f0c0";
}
.wi-beafort-10:before {
  content: "\f0c1";
}
.wi-beafort-11:before {
  content: "\f0c2";
}
.wi-beafort-12:before {
  content: "\f0c3";
}
