<h1>Welcome to Anchorage.io beta</h1>
  <p>Here's a couple important things you should know before getting started. </p>
  <h2>Update Your Account!</h2>
  <p>To get you started, we gave you a crappy username of <strong><%= @username %></strong>. It is highly recommended that you update this username, along with your profile details by visiting your <strong><%= link_to "dashboard", "http://anchorage.io/dashboard" %></strong>. Feel free to add your boat details, backlink your blog, and write a quick bio. It's optional, but you'll earn a few badges for doing so.</p>

  <h2>Start Creating your Custom Cruising Guide</h2>
  <p>Anchorage.io allows you to create a custom cruising guide from boating destinations around the world. When you find a location you like, just click the "Add to Cruising Guide" button. You can also click the "anchor" button on individual posts and images to further customize your cruising guide.</p>

  <h2>Our Mission</h2>
  <p>Anchorage.io is a free, open-source, community-driven cruising guide for boaters. Our mission is to create an engaging environment where boaters can share knowledge about the world's finest cruising locations.</p>

  <h2>We'd Love to Hear from You</h2>
  <p>Have any feedback, questions, complaints, or praise you'd like to share with us? Feel free to get in touch by replying to this email. </p>

  <p>-Anchorage.io Crew </p>
