<div class="filters">
<div class="btn-group btn-group-justified">


<%= link_to filter_region_path(q: 'popular'), class: 'btn btn-success btn-sm' do %>
<i class="hi hi-filter"></i> Most Popular
<% end %>


<%= link_to filter_region_path(q: 'most_photos'), class: 'btn btn-pink btn-sm' do %>
<i class="hi hi-filter"></i> Most Photos
<% end %>



<%= link_to filter_region_path(q: 'most_experiences'), class: 'btn btn-info btn-sm'  do %>
<i class="hi hi-filter"></i> Most Experiences
<% end %>

</div>
</div>
