<div class="well">
<ul class="nav nav-pills nav-justified">

<li role="presentation">
<%= link_to region_filter_path(q: 'popular'), class: '' do %>
<i class="fa fa-filter"></i> Most Popular
<% end %>
</li>

<li role="presentation">
<%= link_to region_filter_path(q: 'most_photos'), class: '' do %>
<i class="fa fa-filter"></i> Most Photos
<% end %>
</li>


<li role="presentation">
<%= link_to region_filter_path(q: 'most_experiences'), class: ''  do %>
<i class="fa fa-filter"></i> Most Experiences
<% end %>
</li>



</ul>
</div>
