<% content_for :title, "#{@region.name} Boating Locations" %>

<h1>Anchorages and Marinas in <%= @region.name %></h1>

<% @locations.each do |location| %>

<%= render partial: "locations/location", locals: {location: location} %>

<% end %>

<%= will_paginate @locations, renderer: BootstrapPagination::Rails %>
