<h2>Contents</h2>

<div class="row">
  <% @regions.each do |region| %>
  <h4><%= link_to region.name, "#collapse#{region.id}", "data-toggle" => "collapse", "aria-expanded" => "false", "aria-controls" => "collapse#{region.id}", class: "text-primary" %></h3>

  <div class="collapse" id="collapse<%= region.id %>">

  <ul class="contents-list">
    <% @pages.each do |page| %>
    <% if region.locations.include?(page.location) %>
    <li><%= link_to page.location.name, page, remote: true %></li>
    <% end %>
    <% end %>
  </ul>

  </div>

  <% end %>
