
<div class="row">

  <div class="col-xs-12 col-md-4">
    <div class="well guide-contents" id="guideContents" data-spy="affix" data-offset-top="200" data-offset-bottom="0">
      <h2>Contents</h2>

      <div class="row">

        <div class="col-xs-4 col-md-12">
          <h3>Region A</h3>
          Hello
       </div>

       <div class="col-xs-4 col-md-12">
         <h3>Region A</h3>
         Hello
       </div>

      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-8">
    <div class="well">
      <h1><%= @guide.name %></h1>
      <%= link_to "Edit Settings", edit_user_guide_path(id: @guide.permalink, user_id: @user.id), remote: true, class: "label label-warning" %>
      <span class="label label-info">Export PDF</span>
    </div>
    <div class="well">
      <h1>Page Name</h1>
      Bacon ipsum dolor amet turducken ham ground round, rump shoulder short ribs ribeye hamburger tail capicola short loin porchetta bacon. Pig corned beef filet mignon beef ribs. Doner short ribs ribeye, chuck pancetta spare ribs prosciutto ham hock. Pancetta corned beef sausage beef ribs flank chuck t-bone jowl tenderloin ground round ball tip andouille. Ball tip bresaola shoulder, drumstick salami prosciutto capicola. Doner ham hock tri-tip kielbasa rump swine pig pancetta. Bresaola tongue kevin, bacon beef boudin filet mignon capicola andouille ribeye strip steak jerky.

      <h1>Photos</h1>

      Pork loin beef swine strip steak hamburger tri-tip pork chop brisket flank fatback spare ribs venison leberkas salami meatloaf. Kevin shankle andouille bresaola pig short ribs bacon capicola frankfurter sirloin. Ground round t-bone tenderloin, andouille sausage short loin ham jowl porchetta. Fatback tri-tip bresaola, chicken landjaeger turducken ribeye ham hock short loin andouille. Filet mignon frankfurter capicola bresaola beef ribs drumstick. Spare ribs picanha sausage, pork belly tri-tip tail pork loin jerky kevin bacon. Chicken landjaeger pork pig turducken boudin tenderloin ham hock leberkas cow.

      <h1>Experiences</h1>

      Meatloaf leberkas brisket spare ribs, tail tri-tip venison tenderloin chuck sausage. Picanha salami cupim hamburger jowl ham capicola frankfurter pork belly venison. Pork boudin t-bone, ball tip pork loin fatback picanha shank. Corned beef tongue cupim jerky, salami venison pastrami ball tip bacon pork bresaola. Chuck pancetta pork, ground round meatloaf pig shankle corned beef.

      Chicken picanha tri-tip prosciutto flank. Turkey corned beef doner beef. Rump shank tenderloin short loin pancetta ribeye. Chicken chuck cow, porchetta rump pork loin ham drumstick pork beef ribs prosciutto leberkas picanha. Shank venison sirloin bacon shankle doner chicken pork loin brisket drumstick corned beef.


    </div>
  </div>

</div>
