<div>
  <p><% @location.regions.each do |region| %>
  <%= link_to "#{region.name} ", region, class: "orange-flag-region" %>
  <% end %></p>

  <h2>Overview</h2>
  <p><%= sanitize(@location.stat.default_description) %></p>
  <%= sanitize(@location.stat.description) %>
</div>
