<div>
  <p><% @location.regions.each do |region| %>
  <%= link_to "#{region.name} ", region, class: "label label-teal" %>&nbsp;
  <% end %></p>

  <h2>Overview</h2>
  <p><%= sanitize(@location.stat.default_description) %></p>
  <%= sanitize(@location.stat.description) %>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <% @thumb_images.each do |img| %>
      <%= link_to image_tag(img.file_url(:thumb), class: "image-thumb-feed", alt: img.description), img, remote: true  %>
    <% end %>
  </div>
</div>
