<div class="well" id="imageFeed" data-no-turbolink>

<% if @images.any? %>

<div class="row" id="imagesList">
  <div class="col-xs-12">
    <% @images.each do |img| %>
    <%= render partial: "images/image", locals: {img: img} %>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-xs-9">
    <%= paginate @images %> <%= link_to "All", location_images_path(@location), class: "btn btn-success", style: "float: left; padding: 10px 15px; margin: 21px;" %>
  </div>
</div>

<% else %>

<div class="row">
  <div class="col-xs-12">
    <%= render "images/default_image" %>
  </div>
</div>

<% end %>

</div>
