<div id="map-canvas" class="narrow-map description-map" data-map-markers="<%= map_data_location_path(@location) %>">
  <div class="loader">
    <i class="hi hi-spin hi-cog"></i> Building Map...
  </div>
</div>
<span><%= link_to map_location_path, class: 'label label-white label-map' do %>
        <i class="hi hi-expand"></i> Expand
        <% end %></span>


<%= link_to experience_link(@location), remote: true, class: "btn btn-warning btn-sm btn-block share-map" do %>
  <i class="hi hi-anchor"></i> Where did you anchor?
<% end %>
