<div class="" id="map-attr" data-locations="<%= @location.map_data %>">
<div id="map-canvas" class="narrow-map description-map"></div>
<span><%= link_to location_map_path, class: 'label label-dark' do %>
        <i class="fa fa-expand"></i> Expand
        <% end %></span>
