<div class="well">

    <%= link_to photo_link(@location), remote: true, class: "btn btn-pink" do %>
    <i class="fa fa-camera-retro"></i> Share Photo
    <% end %>

  <span class="btn anchor-count-pink"><%= @location.images.count %></span>
  <%= link_to "View All", location_images_path(@location), class: "btn btn-pink btn-sm" %>

</div>
