<div class="row well">
  <div class="col-xs-12">

  <%= link_to experience_link(@location), remote: true, class: "btn btn-primary left-offset-15", id: "experienceButton" do %>
    <i class="fa fa-paper-plane"></i> Share Experience
  <% end %>

  <span class="btn anchor-count-blue"><%= @location.experience_count %></span>
  </div>
</div>
