<div>
  <% if user_signed_in? %>
  <%= link_to "Share Experience", new_experience_path(location_id: @location.id), remote: true, class: "btn btn-primary", id: "experienceButton" %>

  <%= link_to "Share Photos", new_image_path(location_id: @location.id), remote: true, class: "btn btn-primary" %>

  <% else %>

  <%= link_to "Share Experience(signup)", signup_path, remote: true, class: "btn btn-primary", id: "experienceButton" %>

  <%= link_to "Share Photos", signup_path, remote: true, class: "btn btn-primary" %>

  <% end %>

</div>
