<% content_for :title, "All Anchorage.io Boating Locations" %>

<h1>All Locations</h1>

<% @locations.each do |location| %>

<%= render partial: "location", locals: {location: location} %>

<% end %>
