<% content_for :title, "All Anchorage.io Boating Locations" %>
<% content_for :head do %>
 <meta name="description" content="Explore local experiences and photos from boaters around the world.">
<% end %>


<h1>All Locations</h1>

<% @locations.each do |location| %>

<%= render partial: "location", locals: {location: location} %>

<% end %>

<%= will_paginate @locations, renderer: BootstrapPagination::Rails %>
