<% content_for :title, "Boating Map of #{@location.name}" %>
<% content_for :head do %>
 <meta name="description" content="Full sized map for boaters of <%= @location.name %>">
<% end %>

<h1>Boating Map of <%= link_to @location.name, @location %></h1>

<div class="row">

    <div id="map-canvas" class="full-map" data-map-markers="<%= map_data_location_path(@location) %>">
    </div>

</div>

<div class="row">
  <div class="col-xs-12">
<hr>
      <%= link_to @location, class: 'btn btn-info btn-sm' do %>
      <i class="hi hi-chevron-left"></i> Back
      <% end %>
  </div>
</div>
