<div class="each-image">
 <div class="col-sm-6 col-md-4" id="defaultImage">
  <div class="polaroid">
    <%= image_tag("fallbacks/image-default.png", style: "max-width:100%;height:auto;") %>
    <div class="polaroid-caption">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-info"><i class="hi hi-trophy"></i> No photos have been shared. Be the first and get the coveted polaroid badge!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
